body{
    width: 100vw;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.23855479691876746) 100%);
}
header{
    width: 100vw;
    height: fit-content;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}
li{
    background-color: rgb(186, 212, 170);
    padding: 12px;
    border-radius: 10px;
    list-style-type: none;
}
main{
    display: flex;
    justify-content: space-evenly;
}
.goal{
    width: 220px;
    height: 350px;
    background-color: #edafb8; 
    border-radius: 10px;
}
img{
    margin: 20px 50px;
}
h2{
    font-family: cursive;
    margin: 15px 70px;
}
a{
    font-size: x-large;
    margin: 80px;
}
.goalparagraph{
    min-width: 500px;
    max-height: 400px;
    border: 2px solid #9d8189;
    border-radius: 10px;
    padding: 30px;
    margin: 80px 80px;
    
}
pre{
    font-family: cursive;
}